* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media(min-width:600px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

header a {
    color: white;
}

header nav ul {
    display: flex;
    gap: 1rem;
}

.portada-index {
    background-image: url(../images/selena-gomez-en-gradas_1920x1200_xtrafondos.com.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.portada-index h1 {
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}

.portada-index span {
    font-size: 2rem;
}

@media(min-width:600px) {
    .portada-index span {
        font-size: 4rem;
    }
}

@media(min-width:1000px) {
    .portada-index span {
        font-size: 6rem;
    }
}

.portada-index p {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.719);
    color: white;
    border-radius: 10px;
    margin: 10px;
}

@media(min-width:600px) {
    .portada-index p {
        font-size: 2rem;
    }
}

li :hover {
    border-bottom: 5px white solid;

}

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media(min-width:600px) {
    .social-icons-container {
        display: flex;
        flex-direction: row;
    }
}

@media(min-width:1000px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}



.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid white;
    background-image: url(../images/instagram-logo.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:nth-of-type(2) {
    background-image: url(../images/logo-facebook.png.webp);
}

.social-icon:nth-of-type(3) {
    background-image: url(../images/TikTok-logo-black-circle-png.webp);
}

.social-icon:nth-of-type(4) {
    background-image: url(../images/580b57fcd9996e24bc43c53e.webp);
}


/* SECCION PRODUCTOS */
.remeras {
    font-size: 3rem;
    background-color: white;
    border-radius: 10px;
}

.tarjeta {
    border: 2px solid black;
    width: 250px;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.tarjeta-cuerpo {
    border-top: 2px solid black;
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.tarjeta-cuerpo a {
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
}

.carousel {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    flex-wrap: wrap;
}

.remera-oversize {
    width: 300px;
}

.productos {
    background-image: url(../images/selena-gomez-para-adidas_1920x1200_xtrafondos.com.jpg);
}

/* SECCION TENDENCIAS */
/* OVERSIZE */
.tendencias {
    font-size: 2.5rem;
    text-align: center;
}

@media(min-width:600px) {
    .tendencias{
        font-size: 3rem;
    }
}

.h2-tendencias {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    margin-top: 20px;
}

@media(min-width:600px){
    .h2-tendencias{
        font-size: 2rem;
    }
}

@media(min-width:1200px){
    .h2-tendencias{
        text-align: start;
        margin-left: 10px;
       
    }
}

.texto-tendencias {
    font-size: 1rem;
    text-align: center;
}

@media(min-width:600px){
    .texto-tendencias{
        font-size: 2rem;
    }
}

@media(min-width:1200px){
    .texto-tendencias{
        font-size: 2rem;
        text-align: start;
        margin-left: 10px;
    }
}

.oversize {
    width: 150px;

}
@media(min-width:1200px){
    .oversize{
        height: 50vh;
        width: 30vh;
    }
}


.imagenes-oversize {
    justify-content: space-evenly;
    display: flex;
}

@media(min-width:1200px){
.texto-oversize{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
/* SPORT */
.imagenes-sport {
    display: flex;
    justify-content: space-evenly;
}


.sport {
    width: 150px;
}
@media(min-width:1200px){
    .sport{
        height: 50vh;
        width: 30vh;
    }
}

@media(min-width:1200px){
    .texto-sport{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    }
/* BOXY FIT */
@media(min-width:1200px){
    .boxy-fit{
        text-align: center;
    }
}
@media(min-width:1200px){
    .texto-boxy{
        text-align: center;
    }
}


/* UBICACION */
.h1-baron {
    text-align: center;
    font-size: 3rem;
}

.maps {
    width: 100vw;
    height: 90vh;
}

/* CONTACTO */


form {
    padding: 30px;
    width: 100%;
    height: 100vh;
    background-color: #444cf7;
    background-image: linear-gradient(rgba(41, 8, 41, 0.712), blue), url(../images/selena-gomez-sentada-en-gradas_1920x1200_xtrafondos.com.jpg);
}

.contacto-titulo {
    text-align: center;
    font-size: 3rem;
    background-color: black;
    color: white;
    border-radius: 10px;
}

form input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid black;
    margin: 5px;
}

form textarea {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid black;
}

form #enviar,
#reset {
    background-color: black;
    font-size: 25px;
    color: white;
    margin: 5px;
}