form {
    padding: 30px;
    width: 100%;
    height: 100vh;
    background-color: #444cf7;
    background-image: linear-gradient(rgba(41, 8, 41, 0.712), blue), url(../images/selena-gomez-sentada-en-gradas_1920x1200_xtrafondos.com.jpg);

    %template-texto {
        width: 100%;
        font-size: 25px;
        background-color: transparent;
        border: none;
    }

    input {
        @extend %template-texto;
        border-bottom: 4px solid $primary-color;
        margin: 5px;
    }

    textarea {
        @extend %template-texto;
        border-bottom: 4px solid $primary-color;
    }

    #enviar,
    #reset {
        background-color: $primary-color;
        font-size: 25px;
        color: $secondary-color;
        margin: 5px;
    }
}